## docker container run -it --rm --entrypoint=ipython almondsh/almond start-notebook.sh -c 'from notebook.auth import passwd; p = passwd(); print(p)'
JUPYTER_PASSWORD_HASH=thE-Hash-Returned:By:the:command_above
GITHUB_USERNAME=clement-casse
GITHUB_TOKEN=token-token-token-yuup-yupyup!!
